body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MainCard {
  display: block;
  position: relative;
  background-color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.MainCard:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #a2b6b7;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.MainCard:hover:before {
  transform: scale(21);
}
.MainCard:hover {
  transition: all 0.3s ease-out;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 800px) {
  .PostText p {
  }
}
